<!doctype html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <title>Real Time Emotion Detection</title>
</head>

<body style="color: black;background-color: #E9EBEE;">
  <div class="d-flex justify-content-center">
    <div class="container-fluid p-5">
      <h3>
        Real Time Emotion Detection
      </h3>
      <div class="row p-2 bg-light border border-primary rounded">
        <div class=" col-lg-5">
          <img class="p-2" src="{{ url_for('video_feed') }}" width="100%" height="600px">
        </div>
        <div class="col-lg-7">
          <h2>Predicted emotion: <strong>{{ predicted_emotion }}</strong></h2>

          <div class="row">
            <div class="col-md-6"> <canvas id="barGraph" style="min-height: 300px;"></canvas></div>
            <div class="col-md-6"> <canvas id="doughnutGraph"></canvas></div>
          </div>

        </div>
      </div>

    </div>
  </div>

  <script type="text/javascript">

    var xValues = ['angry', 'disgust', 'fear', 'happy', 'sad', 'surprise', 'neutral'];
    var yValues = [0, 0, 0, 0, 0, 0, 0];
    var barColors = ["#FF5733", "#8B8B83", "#2F4F4F", "#FFC300", "#2B2B2B", "#FFD700", "#D3D3D3"];

    var chart = new Chart("barGraph", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        legend: { display: false },
        title: {
          display: true,
          text: "Analysis Data Graph"
        }
      }
    });

    function updateChart() {
      fetch('/get_emotion_data')
        .then(response => response.json())
        .then(data => {
          console.log(data)
          chart.data.datasets[0].data = data;
          chart.update();
        });
    }
    setInterval(updateChart, 1000);
  </script>

  <script type="text/javascript">

    var xValues = ['angry', 'disgust', 'fear', 'happy', 'sad', 'surprise', 'neutral'];
    var yValues = [0, 0, 0, 0, 0, 0, 0];
    var barColors = ["#FF5733", "#8B8B83", "#2F4F4F", "#FFC300", "#2B2B2B", "#FFD700", "#D3D3D3"];

    var chart1 = new Chart("doughnutGraph", {
      type: "doughnut",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        title: {
          display: true,
          text: "World Wide Wine Production 2018"
        }
      }
    });

    function updateChart1() {
      fetch('/get_emotion_data')
        .then(response => response.json())
        .then(data => {
          console.log(data)
          chart1.data.datasets[0].data = data;
          chart1.update();
        });
    }
    setInterval(updateChart1, 1000);
  </script>

</body>

</html>